@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

body {
    font-family: Lato;
    font-size: 18 px;
    background-image: url("map-bg.jpg");
      
  }
  nav {
    font-family: sans-serif;
    font-size: 10px;
  }
  
  #main {
    width: 900px;
    margin: 10px auto;
  }
  h1 {
    font-family: Supermercado One;
    font-size: 45px;
    color: #5d4037;
  }
  #menu {
    columns: 400px 2;
    column-gap: 100px;
    column-rule: 2px dashed rosybrown;
  }
  section {
    margin-bottom: 50px;
  }
  
  
  h2 {
    margin: 0;
    color: #6d4c41;
    font-variant: small-caps;
  }
  
  
  dt {
    font-weight: bold;
    font-size: 20px;
  }
  
  dd {
    margin: 0 0 12px 0;
    display: flex;
  }
  
  .details {
    order: 1;
  }
  
  .price {
    order: 2;
    padding-left: 10px;
    font-size: large;
    color: firebrick;
  }
  
  address {
    padding: 10px;
    border: 2px dashed rosybrown;
  }
  
  